.app {
  background: #0048ba;
  padding: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  width: 500px;
}

.todo {
  background: rgb(230, 218, 218);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input{
  padding: 5px;
  width: 80%;
  margin-top: 5px;
  border: 1px solid #777777;
  border-radius: 5px;
}
.complete{
  padding:8px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color:#4169e1;
  color: #fff;
  cursor: pointer;
}
.remove{
  padding:5px;
  background-color:#0048ba;
  border-radius: 5px ;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
